<% @event.gifts.each do |gift| %>
  <%= check_box_tag(:gift_id, '1', gift.votes.present?, class: 'gift_id') %>
  <label><%= "#{gift.name} ($#{gift.value})" %> </label>
  <br/>
<% end %>

<br/>
<div class="clear"></div>
<button class="btn btn-default btn-primary btn-xs" id="add-suggestion">
  <span class="glyphicon glyphicon-plus"></span>
</button>
<label for="add-suggestion"> Add new suggestion </label>

