<table>
  <% @event.members.each do |member| %>
    <tr class="label"> <%= member.email %></tr>
    <tr class="label"> <%= member.contribution %></tr>
  <% end %>
</table>

<br/>
<button class="btn btn-default btn-primary btn-xs" id="add-member"><span class="glyphicon glyphicon-plus"></span></button>
<label for="add-member"> Add new member </label>